@use "settings" as s;
@use "foundation";

.card {
  @if lightness(s.$primary) > 50 {
    background-color: white;
  } @else {
    background-color: black;
  }
  color: s.$primary;
  padding: 20px;
  box-shadow: s.$shadow;
  @include foundation.breakpoint(large) {
    padding: 40px;
  }
}
