@use "sass:color";

$eggplant: #4f304c;
$bonjour: lighten($eggplant, 67%);

$space: #1d2929;
$mystic: lighten($space, 67%);

$fab: #fab2d7;
$tulip: #98d5e5;
$moon: #d1c7f7;

$remy: lighten($fab, 12%);

$pastel: linear-gradient(20deg, rgba($tulip, 0.8) 0%, rgba($tulip, 0) 60%),
  linear-gradient(100deg, $fab 0%, $moon 100%);

$primary: $fab;
$light: $remy;

$primary_alt: $space;
$light_alt: $mystic;

$font_family: nimbus-sans, Arial, sans-serif;
$font_size: (
  small: 16px,
  large: 22px
);
$line_height: (
  small: (
    20 / 14
  ),
  large: (
    40 / 24
  )
);

$container: 1220px;
$gutter: (
  small: (
    20px / map-get($font_size, small) * map-get($font_size, large)
      // Foundation runs grid units through rem-calc, but I'm using a different base size for small screens
  ),
  large: 40px
);
$outer_padding: (
  small: 20px / map-get($font_size, small) * map-get($font_size, large),
  large: 80px
);

$shadow: 0 4px 25px rgba(black, 0.15);

$separator: "•";
