@use "sass:color";

$eggplant: #4f304c;
$bonjour: lighten($eggplant, 67%);

$primary: $eggplant;
$light: $bonjour;

$font_family: Archivo, sans-serif;
$font_size: (
  small: 14px,
  large: 22px
);
$line_height: (
  small: (
    20 / 14
  ),
  large: (
    40 / 24
  )
);

$container: 1220px;
$gutter: (
  small: (
    20px / map-get($font_size, small) * map-get($font_size, large)
      // Foundation runs grid units through rem-calc, but I'm using a different base size for small screens
  ),
  large: 40px
);
$outer_padding: (
  small: 20px / map-get($font_size, small) * map-get($font_size, large),
  large: 80px
);

$shadow: 0 4px 25px rgba(black, 0.15);

$separator: "•";
