@use "foundation";

.large-card-image {
  max-width: calc(100% + 40px);
  margin: 20px -20px -20px -20px;
  @include foundation.breakpoint(large) {
    margin: -40px -40px -40px 0;
  }
}

@include foundation.breakpoint(1360px) {
  .article-wrapper {
    margin-left: -40px;
    margin-right: -40px;
  }
}
