@use "foundation";

.small-card-image {
  margin: 20px -20px -20px -20px;
  max-width: calc(100% + 40px);
  @include foundation.breakpoint(large) {
    margin: 40px -40px -40px -40px;
    max-width: calc(100% + 80px);
  }
}
