@use "foundation";

.large-card-image {
  max-width: 100%;
  @include foundation.breakpoint(large) {
    margin: -40px -40px -40px 0;
    max-width: calc(100% + 40px);
  }
}

@include foundation.breakpoint(large) {
  .article-wrapper {
    margin-left: -40px;
    margin-right: -40px;
  }
}
