@use "settings" as s;
@use "foundation";

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  // @if lightness(s.$primary) > 50 {
  //   color: black;
  // } @else {
  //   color: white;
  // }
  color: white;
  @include foundation.breakpoint(large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &.menu-open {
    background-color: s.$primary;
    color: white;
  }
}

.header-logo {
  font-size: (24 / 14) * 1rem;
  line-height: (30 / 24);
  font-weight: bold;
  @include foundation.breakpoint(large) {
    font-size: (48 / 24) * 1rem;
    line-height: (70 / 48);
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  @include foundation.breakpoint(large) {
    margin-right: -10px;
    li {
      display: flex;
      align-items: center;
      margin-right: 10px;
      &:nth-of-type(n + 2) {
        &::before {
          content: s.$separator;
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
  a {
    display: block;
    padding: 15px 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@include foundation.breakpoint(small down) {
  .main-nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background-color: s.$primary;
    padding: foundation.rem-calc(map-get(s.$outer_padding, small) / 2);
    animation: fade-in 0.3s;
    font-size: map-get(s.$font_size, large);
    &.hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s, visibility 0.3s, left 0.1s 0.3s, right 0.1s 0.3s;
      animation: none;
      right: 100%;
      left: -100%;
    }
  }
  .header-nav {
    animation: rise 0.4s 0.15s ease-out backwards;
    .hidden & {
      animation: none;
    }
    li {
      width: 100%;
    }
  }
}

.mobile-menu-opener {
  padding: 0;
  background: none;
  border: none;
  padding: 10px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: -10px -10px -10px 0;
  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition-propery: transform, top;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.65, 2.35, 0.03, 0.71);
  }
  &::before {
    top: calc(50% - 5px);
  }
  &::after {
    top: calc(50% + 5px);
  }
  &[aria-expanded="true"] {
    &::before {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    &::after {
      top: 50%;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}
