@use "settings" as s;
@use "foundation";

header {
  padding-top: 20px;
  padding-bottom: 20px;
  @include foundation.breakpoint(large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.header-logo {
  font-size: (24 / 14) * 1rem;
  line-height: (30 / 24);
  font-weight: bold;
  @include foundation.breakpoint(large) {
    font-size: (48 / 24) * 1rem;
    line-height: (70 / 48);
  }
}

.header-nav {
  display: flex;
  list-style: none;
  @include foundation.breakpoint(large) {
    margin-right: -10px;
    li {
      margin-right: 10px;
      &:nth-of-type(n + 2) {
        &::before {
          content: s.$separator;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}
