@use "foundation";
@use "settings" as s;

.layout-wrapper {
  min-height: 100vh;
  &.page {
    // @if lightness(s.$primary) > 50 {
    //   background-color: black;
    // } @else {
    //   background-color: white;
    // }
    // color: s.$primary;
    background-color: white;
    color: black;
    header {
      color: black;
    }
  }
}

main {
  padding-top: 90px;
  @include foundation.breakpoint(large) {
    padding-top: 180px;
  }
}
