@use "settings" as s;
@use "foundation";

.portfolio-slice-pullquote {
  background-color: s.$remy;
  color: black;
  padding: 40px 0;
  @media (prefers-color-scheme: dark) {
    background-color: lighten($primary_alt, 4);
    color: s.$light_alt;
  }
  @include foundation.breakpoint(large) {
    padding: 160px 0;
  }
}
