@use "settings" as s;
@use "foundation";

body,
html {
  font-family: s.$font-family;
  background-color: s.$primary;
  padding: 0;
  margin: 0;
  @if lightness(s.$primary) > 50 {
    color: black;
  } @else {
    color: white;
  }
  @each $bp, $size in s.$font_size {
    @include foundation.breakpoint($bp) {
      font-size: $size;
      line-height: map-get(s.$line_height, $bp);
    }
  }
}

h1,
h2 {
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  @include foundation.breakpoint(large) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

h1 {
  font-size: (20 / 14) * 1rem;
  line-height: (25 / 20);
  @include foundation.breakpoint(large) {
    font-size: (42 / 22) * 1rem;
    line-height: (50 / 42);
  }
}

h2 {
  font-size: (16 / 14) * 1rem;
  line-height: (20 / 16);
  @include foundation.breakpoint(large) {
    font-size: (34 / 22) * 1rem;
    line-height: (40 / 34);
  }
}

.h1,
%h1 {
  @extend h1;
}

.h2,
%h2 {
  @extend h2;
}

a {
  color: inherit;
  &:active {
    color: inherit;
    transform: translateY(1px);
  }
  &:visited {
    color: inherit;
  }
}

.arrow-link {
  &::after {
    content: " →";
  }
}

.separator {
  &::after {
    content: s.$separator;
  }
}

p {
  margin-top: 0;
  margin-bottom: 35px;
}

.meta time {
  display: inline-block;
}

.text-center {
  text-align: center;
}
